div {
  display: inline-block;
}

.table,
div {
  background-color: rgb(223, 102, 102);
  padding: 5px;
  border-radius: 2%;
}

.text {
  background-color: rgb(243, 178, 178);
  border: none;
  width: 285px;
  font-size: 50px;
  line-height: 150%;
  text-align: right;
}

.button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.clear {
  background-color: rgb(231, 25, 25);
}
